%baseBtn {
  background-image: linear-gradient($backgroundColor, $bgDarker);
  color: $foregroundColor;
  border-color: $borderColor;
  text-shadow: 1px 1px 2px rgba(#000, 0.5);

  @include activated() {
    background-image: linear-gradient($bgDark, $bgDarkest);
    background-color: inherit;
    background-position: inherit;
    color: $foregroundColor;
    border-color: $borderColor;
  }
}

.btn {
  @extend %baseBtn;

  &-primary {
    background-image: linear-gradient(darken($accent-green, 10%), mix($accent-green, $bgDarker, 30%));
    border-color: darken($accent-green, 5%);
    color: #fff;

    &:hover, &:active,
    &.zeroclipboard-is-hover, &.zeroclipboard-is-active {
      background-image: linear-gradient(mix($accent-green, $bgDarker, 50%), mix($accent-green, $bgDarker, 30%));
      border-color: darken($accent-green, 5%);
      color: #fff;
    }
  }

  &:disabled, &:disabled:hover, &.disabled, &.disabled:hover {
    // TODO
    color: desaturate(darken($foregroundColor, 30%), $disabledDesaturateAmount);
    background: desaturate($bgDark, $disabledDesaturateAmount);
    border-color: desaturate($bgLighter, $disabledDesaturateAmount);
    cursor: not-allowed;
  }

  &-outline {
    background: transparent;
    color: $linkColor;
    border-color: inherit !important;

    &[disabled], &.disabled {
      color: desaturate(darken($foregroundColor, 30%), $disabledDesaturateAmount) !important;
      background: transparent !important;
    }

    @include activated() {
      background: $mutedBorderColor !important;
    }
  }

  &-octicon {
    color: $borderColor;
  }

  &-link {
    color: $linkColor;

    &:hover {
      text-decoration: none;
    }
  }
}

.ellipsis-expander, .timeline-commits .hidden-text-expander .ellipsis-expander {
  background-color: mix($brandColor, $bgDark, 25%);
  color: $foregroundColor;

  @include activated() {
    background-color: mix($brandColor, $bgDark, 50%);
  }
}

// Technically part of buttons?

.social-count,
.ajax-pagination-form .ajax-pagination-btn {
  background-color: $backgroundColor;
  border-color: $borderColor !important;
  color: $foregroundColor;

  &:hover, &:focus {
    background: $mutedBorderColor !important;
  }
}


.release-label {
  &.latest {
    background-color: $accent-green;

    a {
      color: $backgroundColor;

      &:hover {
        color: $bgDarkest;
      }
    }
  }
}
