.form-control, .form-select {
  background-color: $inputBackgroundColor;
  border-color: $inputBorderColor;
  color: $inputColor;
  border-radius: 3px;
}

.form-control.focus, .form-control:focus,
.form-select.focus, .form-select:focus {
  border-color: $inputBorderColor;
}

.form-group .form-control {
  background-color: inherit;

  &:focus {
    background-color: inherit;
  }
}

// Radio

.radio-label {
  border-color: $mutedBorderColor;
  color: $foregroundColor;
}

:checked + .radio-label {
  border-color: $accentBorderColor;
}

// Search

.scoped-search .form-control.focus .header-search-scope {
  background-color: lighten($inputBackgroundColor, 5%);
  border-color: $inputBorderColor;
  color: $inputColor;
}

.scoped-search .header-search-scope {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  & + .header-search-input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
  }
}

.site-header, .header {
  .header-search-wrapper {
    background-color: $headerBackgroundColor;
    border: none;
    &.focus {
      background-color: transparent;
    }
  }

  .header-search-input {
    border: 1px solid $inputBorderColor;
  }

  .header-search-scope {
    border: 1px solid $inputBorderColor;
    background: $bgLightest;
    color: $fgLighter;
  }
}

// Placeholders

::-webkit-input-placeholder { // Chrome/Opera/Safari
  color: $fgColor;
}

::-moz-placeholder { // FF 19+
  color: $fgColor;
}

:-ms-input-placeholder { // IE 10+
  color: $fgColor;
}

:-moz-placeholder { // FF 18-
  color: $fgColor;
}

// Misc

.input-contrast:focus {
  background: $bgLightest;
}

