body {
  background-color: $backgroundColor;
  color: $foregroundColor;
}

// Header

.site-header {
  background: $headerBackgroundColor;

  &-nav .nav-item {
    color: $navItemColor;

    &:hover {
      color: $navItemHoverColor;
    }
  }
}

.header-logo-invertocat {
  color: $logoColor;

  &:hover {
    color: $logoHoverColor;
  }
}

// Business header

.site-subheader-business {
  background-color: $headerBackgroundColor;

  &.is-stuck {
    background-color: $headerBackgroundColor;
  }

  .nav-item, .muted-link {
    color: $navItemColor !important;

    &:hover {
      color: $navItemHoverColor  !important;
    }
  }
}

// Footer

.site-footer {
  border-color: $borderColor;
  color: $fgLight;
}

// General Treatments

.shade-gray {
  background-color: $bgDarker !important; // Needs !imp to override an inline !imp
}

.shade-gradient {
  background-image: linear-gradient($bgDarker, $backgroundColor);
}

.tile,
.border, .border-top, .border-bottom, .border-left, .border-right {
  border-color: $borderColor !important;
}

// Links

a {
  color: $brandColor;
  transition: all 0.1s ease-in-out;
}

// Filters (/personal)

.filter-item {
  color: $fgDarkest;

  &:hover {
    background: $bgLight;
  }

  &.selected {
    background: $bgLighter;
    color: $fgLightest;
  }
}

// Flow (/personal & /business)

.illflow-item {
  border: 1px solid transparent;

  &:not(.selected):hover {
    background-color: $bgLight;
  }
}

.illflow-purple {
  .illflow-item {
    .illflow-item-heading {
      color: $fgDark;
    }
  }

  .selected {
    background-color: $bgDark;
    border: 1px solid $borderColor;

    &::after {
      border-color: transparent transparent $borderColor;
    }

    .illflow-item-heading {
      color: $fgDark;
    }
  }
}


// Misc
.border-behind {
  &:before {
    background-color: $foregroundColor;
  }
}

hr {
  border-color: $borderColor;
}

// More important!

.text-gray {
  color: $fgLight !important;

  &-dark {
    color: $fgLightest !important;
  }

  &-light {
    color: $fgDarkest !important;
  }
}

.text-emphasized {
  color: $fgLighter !important;
}

.site-text-black {
  color: $fgDarkest !important;
}

.site-text-purple {
  // ???
  // Currently: #7a3497 !important
}

.bg-white {
  background-color: $backgroundColor !important; 
}