body {
  background-color: $backgroundColor;
  color: $foregroundColor;
  font-weight: 300; // Better contrast; will round up to a higher weight if unavailable
}

* {
  outline: none;
}

// General Treatments

.text-alpha, .text-beta, .text-delta, .text-gamma,
h1, h2, h3, h4, h5 {
  color: $fgLight;
  border-color: $borderColor;
}

.tile,
.border, .border-top, .border-bottom, .border-left, .border-right {
  border-color: $borderColor !important;
}

.lead {
  color: $foregroundColor;
}

.pullquote {
  border-color: mix($brandColor, $borderColor, 50%) !important;
  color: $foregroundColor;
}

.note, .form-checkbox .note {
  color: $borderColor;
}

// Links

%link {
  color: $linkColor;
  @extend %linkTransition;

  &:active, &:hover {
    color: $linkHoverColor;
  }
}

a, a:visited {
  @extend %link;
}

button {
  @extend %linkTransition;
}

// Filters (/username)

.filter-item {
  color: $fgDarkest;

  &:hover {
    background: $menuHoverColor;
  }

  &.selected {
    background: $bgLighter;
    color: $fgLightest;
  }
}

// Labels

.label {
  color: $bgDarker;

  &-private {
    &, &.text-gray { // Specificity wars
      background-color: $accentBorderColor;
      color: $bgDarker !important;
    }
  }

  &-neutral {
    background-color: $bgLightest;
  }
}

.deployment-status-label.is-active {
  background: $accent-green;
  color: $bgDarker !important;
  border-color: $accent-green;
}

// Tooltips

.tooltipped {
  &-s:before, &-se:before, &-sw:before {
    border-bottom-color: $tooltipColor;
  }

  &-n:before, &-ne:before, &-nw:before {
    border-top-color: $tooltipColor;
  }

  &-e:before {
    border-right-color: $tooltipColor;
  }

  &-w:before {
    border-left-color: $tooltipColor;
  }

  &:after {
    background-color: $tooltipColor;
  }
}

// Autocomplete

.autocomplete-results {
  background-color: $bgDark;
  border-color: $borderColor;
  color: $foregroundColor;
}

.typeahead-result {
  color: $foregroundColor;
}

.typeahead-result:hover, .typeahead-result.navigation-focus {
  background: $bgLight;
}

// Loading Content

.activity {
  color: $foregroundColor !important; // Because .activity is often under a page-specific selector

  .dots {
    mix-blend-mode: overlay; // Loading img
  }
}

// Selections

::-moz-selection {
  color: $fgColor; 
  background: $bgLightest;
}

::selection {
  color: $fgColor; 
  background: $bgLightest;
}
