body {
  background-color: $backgroundColor;
  color: $foregroundColor;
}

* {
  outline: none;
}

kbd {
  background-color: $bgDark;
  color: $foregroundColor;
  border-color: $borderColor;
  border-bottom-color: $mutedBorderColor;
  box-shadow: inset 0 -1px 0 $mutedBorderColor;
}

// Header

.site-header, .header {
  background: $headerBackgroundColor;

  &-nav .nav-item, &-nav-link {
    color: $navItemColor;

    &:hover {
      color: $navItemHoverColor !important;
    }

    .octicon, .dropdown-caret {
      color: $borderColor;
    }
  }
}

.header-logo-invertocat, .site-header .header-logo-invertocat {
  color: $logoColor;

  &:hover {
    color: $logoHoverColor;
  }
}

#header {
  background: $headerBackgroundColor;
  border: 0;
  box-shadow: none;

  ul.top-nav > li >a,
  ul.top-nav > li > button {
    color: $navItemColor;
  }

  .site-logo a {
    filter: invert(1);
  }
}

.notification-indicator .mail-status {
  background-image: none;
  background-color: $fgLightest;
}

.notification-indicator:hover .mail-status {
  background-color: $brandColor;
}

// Sidebar

.sidebar {
  border-color: $borderColor;

  li.muted {
    &, a {
      color: $borderColor;
    }
  }
}

// Boxed Groups

.Box {
  @include cardLight;

  &.bg-gray-light {
    background: inherit !important
  }

  &--danger {
    border-color: $accent-red;
  }

  &-row {
    color: $foregroundColor;
    border-color: $borderColor;

    &--focus-gray {
      background-color: $backgroundColor;

      &.navigation-focus {
        background-color: $bgLighter;
      }
    }
  }
}

.boxed-group {
  & > h3, .heading {
    border-color: $borderColor;
    background: $bgDarker;
  }

  &-inner {
    background: transparent;
    border-color: $borderColor;
    color: $foregroundColor;
  }

  .filter-bar {
    background: $bgDark;
    border-color: $borderColor;
  }

  &-table {
    th {
      background: $bgDarker;
      border-color: $borderColor;
    }

    td {
      border-color: $borderColor;
    }
  }

  &-list > li {
    border-color: $borderColor;
  }
}

// Footer

.site-footer {
  border-color: $borderColor;
  color: $fgLight;

  .octicon-mark-github {
    color: $bgDarker;
  }
}

.footer-mark {
  color: $bgDarker;
}

.footer, #footer {
  border-color: $borderColor;
  background: transparent;
  text-shadow: none;
  color: $fgLight;
}

// Subnav

.subnav-item {
  color: $foregroundColor;
  border-color: $borderColor;

  @include activated {
    background-color: $bgLightest;
    border-color: $borderColor;
  }
}

.subnav-bordered {
  border-color: $borderColor;
}

// General Treatments

.shade {
  &-gray {
    background-color: $bgDarker !important; // Needs !imp to override an inline !imp
  }

  &-gradient {
    background-image: linear-gradient($bgDarker, $backgroundColor);
  }
}

.tile,
.border, .border-top, .border-bottom, .border-left, .border-right {
  border-color: $borderColor !important;
}

.lead {
  color: $foregroundColor;
}

.pullquote {
  border-color: mix($brandColor, $borderColor, 50%) !important;
  color: $foregroundColor;
}

.note, .form-checkbox .note {
  color: $borderColor;
}

rect[style*="mask: url(#sparkline"] { // Repos, org pages
  fill: $accent-green !important;
}

// Links

a {
  color: $linkColor;
  transition: background 0.1s ease-in-out,
              color 0.1s ease-in-out,
              border-color 0.1s ease-in-out,
              box-shadow 0.1s ease-in-out;

  &:active, &:hover {
    color: saturate(lighten($linkColor, 10%), 10%);
  }
}

// Filters (/username)

.filter-item {
  color: $fgDarkest;

  &:hover {
    background: $menuHoverColor;
  }

  &.selected {
    background: $bgLighter;
    color: $fgLightest;
  }
}

// Pagination

.pagination {
  a {
    @extend a;
    background: transparent;

    &:hover {
      background: $menuHoverColor;
    }
  }

  a, span, em, .disabled {
    &, &:hover {
      border-color: $mutedBorderColor;
    }
  }

  .current, .current:hover {
    background: $foregroundColor;
    border-color: $foregroundColor;
  }

  .disabled, .gap {
    &, &:hover {
      background: transparent;
      color: $borderColor;
      font-style: italic;
      cursor: not-allowed;
    }
  }
}

// Menu

.menu {
  background: transparent;
  border-color: $borderColor;

  &-heading {
    background-color: $bgDarker;
    color: $foregroundColor;
    border-color: $borderColor;
  }

  &-item {
    color: $foregroundColor;
    border-color: $borderColor;

    &.selected {
      background: transparent;
      color: $fgLightest;
      font-weight: bold;

      &:before {
        background-color: $accentBorderColor;
      }
    }

    &:hover {
      background: $menuHoverColor;
    }

    .octicon {
      color: $borderColor;
    }

    .counter {
      line-height: inherit;
    }
  }
}

// Misc

.border-behind {
  &:before {
    background-color: $borderColor;
    z-index: 1;
  }

  & > * {
    position: relative;
    z-index: 5;
  }
}

.callout-box {
  border-color: $borderColor !important;

  &-icon {
    background: $backgroundColor;
    outline: 10px solid $backgroundColor;
  }
}

hr {
  border-color: $borderColor;
}

.counter, .protip code {
  background-color: $bgLighter !important;
  color: $foregroundColor !important; // !imp to override on repo pages
}

.codesearch-aside .filter-list li span.bar { // Sidebar language filter in search results
  background: $bgLight;
}

.sort-bar {
  border-color: $borderColor;
}

.bot-identifier {
  color: $accent-purple;
  background: rgba($accent-purple, 0.125);
  border-color: inherit !important;
}

.upload-enabled textarea {
  border-color: $borderColor;
}

.card {
  @include card;
}

// Gists

.gist-snippet-meta {
  .gist-count-links > li > a {
    color: $fgDarker;

    .octicon {
      color: $borderColor;
    }

    &:hover {
      background: transparent;
      color: $linkColor;
    }
  }

  .creator, .description {
    color: $foregroundColor;
  }

  .description {
    display: block;
    margin-top: 0.5rem;
  }

  .extra-info {
    color: $fgDarkest;

    .text {
      color: $borderColor;
    }
  }
}

.gist-snippet .link-overlay .link {
  background: $accentBorderColor;
  border-bottom-left-radius: 3px;
}

.gist-snippet .file-box:hover .file {
  border-color: $accentBorderColor;
}

.gist-timestamp {
  color: $borderColor;
}

// More important!

.text {
  &-gray {
    color: $fgLight !important;

    &-dark {
      color: $fgLightest !important;
    }

    &-light {
      color: $fgDarkest !important;
    }
  }

  &-black {
    color: $fgLightest !important;
  }

  &-green {
    color: $accent-green !important;
  }

  &-red {
    color: $accent-red !important;
  }

  &-emphasized {
    color: $fgLighter !important;
  }
}

.text-alpha, .text-beta, .text-delta, .text-gamma, h1, h2, h3, h4, h5 {
  color: $fgLight;
}

.status-meta {
  color: $fgLight !important;
}

.site-text {
  &-black {
    color: $fgDarkest !important;
  }

  &-purple {
    color: $accent-purple !important;
  }

  &-orange {
    color: $accent-orange !important;
  }

  &-blue {
    color: $accent-blue !important;
  }

  &-green {
    color: $accent-green !important;
  }

  &-blue-purple {
    color: $accent-blue-purple !important;
  }
}

.bg {
  &-white {
    background-color: $backgroundColor !important;
  }

  &-blue {
    background-color: $accent-blue !important;
  }

  &-gray-light {
    background-color: $bgLight !important;
  }

  &-custom-gradient {
    background: linear-gradient($bgLight, $backgroundColor) !important;
  }
}

// Dropdowns

.dropdown-menu {
  background-color: $backgroundColor;
  border-color: $borderColor;
  color: $foregroundColor;

  &:after {
    border-bottom-color: $borderColor;
  }

  .dropdown-header {
    color: $foregroundColor;
  }

  .dropdown-divider {
    background-color: $borderColor;
  }

  .dropdown-item {
    color: $foregroundColor;

    @include activated {
      color: $fgDarker;
      background-color: $bgLighter;
    }
  }
}

.autocomplete-results {
  background-color: $bgDark;
  border-color: $borderColor;
  color: $foregroundColor;
}

.typeahead-result {
  color: $foregroundColor;
}

.typeahead-result:hover, .typeahead-result.navigation-focus {
  background: $bgLight;
}

.flash {
  &-error {
    @include flash($accent-red);
  }
  &-success {
    @include flash($accent-green);
  }
  &-warn {
    @include flash($accent-blue);
  }
}
