.repohead {
  &.experiment-repo-nav {
    background-color: $repoheadBg;
  }

  h1 {
    color: $foregroundColor;

    .octicon {
      color: $borderColor;
    }
  }
}

.pagehead {
  border-color: $borderColor;
}

.reponav-item {
  color: $foregroundColor;

  &:hover, &:focus {
    background-color: rgba($backgroundColor, 0.5);
    color: inherit;
    border-color: $mutedBorderColor;
  }

  &.selected {
    background-color: $backgroundColor;
    color: inherit;
    border-color: $accentBorderColor;
    border-bottom-color: $backgroundColor;
  }

  .octicon {
    color: $foregroundColor;
  }
}

.commit-tease-sha {
  @extend %link;
}

// Top Widgets

.overall-summary {
  border-color: $borderColor;
}

.repository-lang-stats-graph {
  border-color: $borderColor;
}

.commit-tease {
  border-color: $borderColor;
  background-color: $bgDark;
  color: $fgLighter;

  .commit-author-section, .user-mention, .team-mention {
    color: $fgLighter;
  }
}

.numbers-summary {
  a {
    color: $fgLighter;

    &:hover {
      color: $fgLightest;
    }
  }

  .octicon {
    color: $bgLightest;
  }
}

// Repo tags

.topic-tag {
  border-color: $borderColor;
  background-color: mix($brandColor, $bgDark, 25%);
  color: $fgLighter;

  &:hover {
    border-color: $borderColor;
    background-color: mix($brandColor, $bgDark, 50%);
    color: $fgLightest;
  }
}

// File Viewer

.file {
  border-color: $borderColor;

  .image {
    background: transparent;

    .border-wrap {
      background: transparent;
      border: 0;
    }

    img, canvas {
      border: 0;
      background: transparent;
    }
  }
}

.file-header {
  background-color: $bgDark;
  border-color: $borderColor;
}

.file-wrap {
  border-color: $borderColor;

  .files {
    background-color: $backgroundColor;

    .navigation-focus td {
      background-color: $bgLighter;
    }

    .message, .age {
      color: $foregroundColor;
    }

    .message a:hover {
      color: $fgLightest;
    }

    td {
      border-color: rgba($borderColor, 0.125);
    }
  }
}

table.files {
  td {
    &.message a { // Links inside the .file-wrap .message
      color: $fgLightest;
    }

    &.icon {
      color: $borderColor;

      .octicon-file-directory {
        color: $accentBorderColor;
      }
    }

    .simplified-path {
      color: $borderColor;
    }
  }

  tr.up-tree a:hover {
    background-color: $bgLightest;
  }
}

// Code

.blob-num {
  background: $bgLight;
  color: darken($foregroundColor, 20%);
}

.blob-code {
  &[style="background-color: rgb(248, 238, 199);"] { // Highlighted lines
    background: $bgDarker !important;
  }

  &-inner {
    color: $fgDark;
  }

  &-deletion {
    background: $repoDeletion;
  }

  &-addition {
    background: $repoAddition;
  }

  &-hunk, &-expandable {
    background: $bgLight;
  }

  &-addition .x {
    background: $accent-green;
    color: $repoAddition;
  }

  &-deletion .x {
    background: $accent-red;
    color: $repoDeletion;
  }
}

// Readme

.readme {
  .markdown-body, .plain {
    background-color: $readmeBg;
    border-color: $readmeBorder;
  }
}

.subnav-search-context .btn { // Filter on PR tab
  color: inherit;
}

// Languages

.repository-lang-stats ol.repository-lang-stats-numbers li {
  .lang {
    color: $fgLighter;
    font-weight: bold;
  }

  & > a, & > span {
    color: $fgDarkest;
    font-weight: normal;
  }
}

// Breadcrumbs

.breadcrumb strong.final-path { // Filename for individual files
  color: $foregroundColor;
}

.repository-meta {
  color: $foregroundColor;
}

// Recent Branches

.RecentBranches {
  @include cardLight;

  &-item {
    color: $foregroundColor;
  }

  &-item-link {
    color: $linkColor;
  }
}

.repohead h1.private .octicon {
  color: $accentBorderColor;
}

// Mentions

.user-mention, .team-mention {
  @extend %link;
}

// Milestones

.progress-bar-inline .progress-bar {
  border-color: $borderColor;

  .progress { // Maybe a little overkill, but milestone completion is exciting!
    background: linear-gradient(90deg, $accent-yellow, $accent-green, $accent-blue, $accent-purple);
    background-size: 980px 100%; // Since GH isn't responsive, we can base this on the container width
  }
}

.task-progress .progress-bar .progress {
  background: $borderColor;
}

// Forks

.owner-select-target {
  background-color: $bgLight;
  color: $foregroundColor;

  &:focus, &:hover {
    background-color: $bgLighter;
  }
}

// New repo

.Subhead-description, .owner-reponame .slash {
  color: $fgDarker;
}

.reponame-suggestion {
  @extend .text-green;
}

.page-new-repo .octicon {
  &-repo {
  color: $borderColor;
}

  &-lock {
    color: $linkColor; // Consistent with treatment on Dashboard
  }
}

.license-container {
  border-color: $borderColor;
}

.copyable-terminal {
  background-color: $backgroundColor;
}

.clone-url-button {
  & > .clone-url-link {
    color: $borderColor;
    border-color: inherit;
    background: $backgroundColor;
    text-shadow: none;

    &:hover {
      background: rgba($linkColor, 0.5);
      color: rgba(#fff, 0.75);
      text-shadow: none;
    }
  }

  &.selected > .clone-url-link {
    &, &:hover {
      color: rgba(#fff, 0.75);
      border-color: $borderColor;
      background: $linkColor;
      text-shadow: none;
    }
  }

  & + & > .clone-url-link {
    box-shadow: none;
    border-left: 0;
  }
}

// Rendered display (image preview)
// Content is rendered in an iframe, so no fixing that background

.render-container {
  background-color: $bgLight;
}

.octospinner {
  mix-blend-mode: overlay;
}
