.blog {
  &-title {
    color: $linkColor;
  }

  &-post-body {
    color: $foregroundColor;
  }

  &-post-meta {
    &, a {
      color: $fgDarkest;
    }
  }

  &-aside .rss {
    color: $foregroundColor;

    .octicon {
      color: $accent-orange;
    }
  }

  &-search .octicon-search {
    color: $foregroundColor;
  }
}
