.commits-listing {
  &:before {
    background-color: $borderColor;
  }

  .commit-group-title {
    color: $foregroundColor;
    .octicon-git-commit {
      background-color: transparent;
      color: $fgDarkest;
    }
  }
}

.table-list {
  border-color: $borderColor;

  .table-list-item {
    &.navigation-focus {
      background-color: $bgLighter;
    }
  }
  .table-list-cell {
    border-color: $borderColor;
    &:first-child, &:last-child {
      border-color: $borderColor;
    }
  }
}

.commits-list-item {
  .commit-title {
    a {
      color: $foregroundColor;
    }
  }

  .commit-author, .commit-author-section {
    color: $fgLight;
  }
}

.commit-tease-contributors {
  background: $backgroundColor;
  border-color: $borderColor;
}
