// Contributors

.graph-filter .info {
  color: $foregroundColor;
}

.capped-card {
  border-color: $borderColor;

  h3 {
    border-color: $borderColor;
  }

  .cmt {
    color: $foregroundColor;
  }
}

.contributors-graph .capped-card {
  .cmt, .ameta, .rank {
    color: $foregroundColor;
  }
  path {
    fill: $accent-orange;
  }
}

.capped-card-content {
  background-color: $backgroundColor;
}

.tint-box {
  background-color: $backgroundColor;
}

// Traffic

.traffic-graph-stats {
  border-color: $borderColor;
}

.summary-stats li {
  color: $foregroundColor;
}

table.capped-list {
  th {
    background-color: $bgDark;
    border-color: $borderColor;
  }
  td {
    background-color: $backgroundColor;
    border-color: $borderColor;
  }

  .octicon {
    color: $foregroundColor;
  }
}


// General

.graphs {
  .dir {
    color: $foregroundColor;
  }
  .area {
    fill: $accent-green;
  }

  .label {
    fill: $foregroundColor;
  }
}

.dot {
  text {
    fill: $foregroundColor;
  }
}

.cadd {
  color: $accent-green;
}

.cdel {
  color: $accent-red;
}

.a {
  color: $accent-green; // Really? This is apparently for 'additions'
}

.d {
  color: $accent-red; // And yup this means delete!
}

.day-name {
  fill: $foregroundColor;
}

circle.day {
  fill: $foregroundColor;

  &:hover {
     fill: saturate(lighten($foregroundColor, 10%), 10%);
  }
}

line.axis {
  stroke: $borderColor;
  &.even {
    stroke: $mutedBorderColor;
  }
}

// Graphs

.code-frequency {
  .addition {
    fill: $accent-green;
  }
  .deletion {
    fill: $accent-red;
  }
}

.traffic-graph {
  path {
    &.total {
      stroke: $accent-green;
    }
    &.unique {
      stroke: $accent-blue;
    }
  }

  .y {
    &.unique line {
      stroke: $accent-blue;
    }
    line {
      stroke: $accent-green;
    }
  }

  .axis {
    .tick{
      &:first-child line {
        stroke: $accent-green;
      }
      &:nth-child(14) line {
        stroke: $accent-blue;
      }
    }
  }
}
