.pricing-card {
  background-color: $backgroundColor;
  border-color: $borderColor !important;

  .pricing-card-name {
    border-color: $borderColor;
  }

  .pricing-card-cta {
    border-color: $borderColor !important;
  }
}
