.pricing-card {
  background-color: $backgroundColor;
  border-color: $borderColor !important;

  .pricing-card-name {
    border-color: $borderColor;
  }

  .pricing-card-cta {
    border-color: $borderColor !important;
  }
}

.integrations-collage-item {
  background-color: $bgLight;
}

.featurette {
  .grayscale {
    mix-blend-mode: screen;
  }

  .logo-img {
    filter: invert(1);
  }
}

path.cls-1 { // Icons above section headers
  fill: $fgLighter;
}

.jumbotron-codelines {
  background-color: transparent;
}
