// Technically on PRs and others too...
.table-list-header {
  background-color: $bgDark;
  color: $fgLighter;
  border-color: $borderColor;
}

.table-list-header-toggle {
  .btn-link {
    color: $fgLighter;

    @include activated {
      color: $fgLightest;
    }
  }
}

.Box-row {
  color: $foregroundColor;
  border-color: $borderColor;
}

.Box-row--focus-gray {
  background-color: $backgroundColor;
  &.navigation-focus {
    background-color: $bgLighter;
  }
}

.gh-header-number {
  color: $fgLighter;
}

.gh-header-meta {
  border-color: $borderColor;
  color: $foregroundColor;

  .author {
    color: $fgLighter;
  }
}

// Timeline

.timeline-comment-wrapper {
  border-color: $backgroundColor;
}

.timeline-comment {
  border-color: $borderColor;
  background-color: $backgroundColor;
}

.timeline-comment-wrapper>.timeline-comment::before, .timeline-new-comment .timeline-comment::before,
.timeline-comment-wrapper>.timeline-comment::after, .timeline-new-comment .timeline-comment::after {
  border-right-color: $borderColor !important;
}

.timeline-comment-header {
  border-color: $borderColor;
  background-color: $backgroundColor;
}

// Comments
.new-discussion-timeline {
  .previewable-comment-form {
    textarea {
      border-color: $borderColor;
      &:focus {
        background-color: $inputBackgroundColor;
      }
    }
    .comment-form-head.tabnav {
      background-color: $bgDark;
      border-color: $borderColor;
    }
    .comment-body {
      border-color: $borderColor;
    }
  }
}

.tabnav-tab {
  color: $fgLighter;

  @include activated() {
    background-color: $backgroundColor;
    border-color: $borderColor;
    color: $foregroundColor;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}

.tabnav-extra {
  color: $foregroundColor;
}

// Toolbar
.toolbar-item, .toolbar-item .menu-target {
  color: $foregroundColor;
}

.drag-and-drop {
  background-color: $backgroundColor;
  color: $foregroundColor;
  border-color: $borderColor;
}

.focused {
  .drag-and-drop {
    border-color: $borderColor;
  }
}

.blankslate {
  background-color: $backgroundColor;
  border-color: $borderColor;
}
