// Technically on PRs and others too...

.table-list-header {
  background-color: $bgDark;
  color: $fgLighter;
  border-color: $borderColor;
}

.table-list-header-toggle {
  .btn-link {
    color: $fgLighter;

    @include activated {
      color: $fgLightest;
    }
  }
}

.gh-header-number {
  color: $fgLighter;
}

.gh-header-meta {
  border-color: $borderColor;
  color: $foregroundColor;

  .author {
    color: $fgLighter;
  }
}

// Comments

.new-discussion-timeline {
  .previewable-comment-form {
    textarea {
      border-color: $borderColor;
  
      &:focus {
        background-color: $inputBackgroundColor;
      }
    }

    .comment-form-head.tabnav {
      background-color: $bgDark;
      border-color: $borderColor;
    }

    .comment-body {
      border-color: $borderColor;
    }
  }
}

.discussion-item-ref-title .title-link {
  color: $fgDark;
}

.discussion-item-ref-title .issue-num {
  color: $fgDarkest;
}

.comment-reactions.has-reactions, .reaction-summary-item, .discussion-item-deployed {
  border-color: $borderColor;
}

// Toolbar

.toolbar-item, .toolbar-item .menu-target {
  color: $foregroundColor;
}

.drag-and-drop {
  background-color: $backgroundColor;
  color: $foregroundColor;
  border-color: $borderColor;
}

.focused {
  .drag-and-drop {
    border-color: $borderColor;
  }
}

.blankslate {
  background-color: $backgroundColor;
  border-color: $borderColor;
}

// Break up titles

a.muted-link.h4 {
  font-weight: 300 !important;
  display: block;
  margin-bottom: 0.25rem;
}
