.session-authentication {
  background-color: $backgroundColor;

  .create-account-callout {
    border-color: $borderColor;
  }

  .auth-form-header {
    color: $fgLightest;
  }

  .auth-form-body {
    @include card;
    border-top-color: $borderColor;
  }

  .header-logo {
    color: $logoColor;
  }

  .site-footer-links a {
    color: $foregroundColor;
  }
}

.signup-prompt-bg {
  background-color: $bgDarker;
  background-image: none;
  border: 1px solid $borderColor;
  margin-bottom: 1rem;
}
