.orghead {
  background: $repoheadBg;
  border-color: $borderColor;
  color: $foregroundColor;
}

.org-name {
  color: $fgLightest;
}

.simple-box {
  border-color: $borderColor;
  background: $backgroundColor;
  color: $foregroundColor;
}

.member-row {
  color: $foregroundColor;
  border-color: $borderColor;
}

.member-fullname, {
  color: $borderColor;
}

.orgs-help-lead,
.orgs-help-item-content,
.table-list-header-meta {
  color: $fgDarkest;
}

.orgs-help-shelf,
.orgs-help-shelf-content .orgs-help-divider {
  border-color: $borderColor;
}

.orgs-help-item-octicon {
  background-color: $bgDark;
  border-color: $borderColor;

  .octicon {
    color: $fgLighter;
  }
}

.auto-search-group > .octicon {
  color: $borderColor;
}
