// Nav

.user-profile-nav,
.user-profile-sticky-bar::after {
  background: $backgroundColor;
  border-color: $borderColor;
}

.underline-nav-item {
  color: $navItemColor;

  &:hover {
    color: $navItemHoverColor;
  }

  &.selected {
    color: $navItemHoverColor;
    font-weight: bold;
    border-bottom-color: $accentBorderColor;
  }
}

// Timeline

.profile-timeline.discussion-timeline .profile-timeline-month-heading::after,
.profile-timeline.discussion-timeline::before {
  background: $borderColor;
}

.discussion-item-icon {
  border-color: $borderColor;
  background: $bgDark;
  color: $fgDarker;
}

.profile-timeline-card-wrapper {
  border-color: transparent;
}

.profile-rollup-wrapper + .profile-rollup-wrapper,
.profile-rollup-summarized + .profile-rollup-summarized {
  border-color: $borderColor;
}

// Profile Info "Vcard"

.vcard {
  &-fullname {
    color: $fgLightest;
  }

  &-username,
  &-detail .octicon {
    color: $fgDarkest;
  }
}

.user-profile-bio {
  color: $fgDarkest;
}

// Contribution Graph

.calendar-graph {
  text.month,
  text.wday {
    fill: $fgDarkest;
  }
}

$contribColorMap: (
  #eee:    $bgDark,
  #ebedf0: $bgDark,
  #c6e48b: $bgLightest,
  #7bc96f: $fgDarkest,
  #239a3b: $foregroundColor,
  #196127: $fgLightest
);

@each $gh-color, $replacement-color in $contribColorMap {
  .calendar-graph .day[fill^="#{$gh-color}"] {
    fill: #{$replacement-color};
  }

  .contrib-legend .legend li[style="background-color: #{$gh-color}"] {
    background-color: #{$replacement-color} !important;
  }
}

// Pinned Repo Modal

.pinned-repo-filters {
  border-color: $borderColor;
}

.pinned-repos-selection-list-item {
  color: $foregroundColor;

  &.selected {
    color: $fgLightest;
    background-color: $bgLightest;
  }

  .stars {
    color: $borderColor;
  }
}

// Misc

.pinned-repo-item {
  background: $bgDark;

  &.is-dragging {
    background: $bgDarker;
  }
}
