.gh-header-edit .edit-issue-title {
  &, &:focus {
    background: $bgLightest;
  }
}

.merge-pr-more-commits {
  color: $foregroundColor;
}

.branch-action-body {
  background-color: $backgroundColor;
  border-color: $borderColor;

  .merge-message {
    border-color: $borderColor;
    background-color: $bgDark;
  }
}

.branch-action-state-clean {
  .branch-action-body {
    border-color: $accent-green;

    &:after {
      border-right-color: $accent-green;
    }
  }
}

.branch-action-item {
  & + &,
  & + .mergeability-details {
    border-color: $borderColor;
  }
}

.discussion-item + .discussion-item-review,
.merge-status-list {
  border-color: $borderColor;
}

.commit-icon {
  color: $fgLight;
  .octicon {
    background-color: transparent;
  }
}

.commit-id {
  @extend %link;
}

.commit-ref {
  @extend .counter;
}

.full-commit { // Header box for individual commits
  border-color: $borderColor;
  background: $bgDark;
  color: $foregroundColor;

  p.commit-title {
    color: inherit;
  }

  .commit-branches, .branches-list li {
    color: $fgDarkest !important;
  }

  .commit-meta {
    background: $backgroundColor;
    color: $foregroundColor;
    border-color: $borderColor;

    a {
      @extend %link;
    }

    span {
      color: $borderColor;
    }
  }

  .sha-block > .sha {
    color: $foregroundColor !important;
    border-color: inherit;
  }

  .full-commit .btn-outline,
  .full-commit .btn-outline:disabled {
    color: inherit;
  }
}

.timeline-commits .author {
  color: $borderColor;
}

.range-editor { // "Able to merge" box
  @include cardLight;
}

.block-diff-neutral {
  background: $bgLighter;
}

.block-diff-added, .text-green .block-diff-neutral {
  background: $accent-green;
}

.block-diff-deleted, .text-red .block-diff-neutral {
  background: $accent-red;
}

.state {
  color: $bgDarker !important;

  &-merged, &-open, &-closed {
    color: $bgDarker !important;
  }

  &-open {
    background-color: $accent-green;
  }

  &-closed {
    background-color: $accent-red;
  }

  &-merged {
    background-color: $accent-purple;
  }
}

.pr-details .state {
  &:hover {
    color: $bgDarker;
  }
}

.sidebar-assignee .assignee {
  color: $foregroundColor;
}

// "This branch has no conflicts with the base branch" at bottom of PR

.branch-action-state-clean {
  .branch-action-body {
    border-color: $accent-green;

    &:before {
      border-right-color: $accent-green;
    }
  }
}

.state-open, .state-proposed, .state-reopened,
.completeness-indicator-success,
.branch-action-state-clean .branch-action-icon {
  background-color: $accent-green;
}

.diffbar, .pr-toolbar {
  background: $backgroundColor;
}

.new-discussion-timeline .closed-banner {
  border-color: $backgroundColor;
  background-color: $borderColor;
}

.merge-branch-heading, .merge-branch-description {
  color: $foregroundColor;
}

.branch-action-state-merged {
  .branch-action-icon {
    background-color: $accent-purple;
  }

  .branch-action-body {
    border-color: $accent-purple;

    &:before, &:after {
      border-right-color: $accent-purple;
    }
  }
}

.branch-action-state-dirty,
.branch-action-state-closed-dirty {
  .branch-action-icon {
    background-color: $accent-purple;
  }

  .branch-action-body {
    border-color: $accent-purple;

    &:before, &:after {
      border-right-color: $accent-purple;
    }
  }
}

.branch-action-state-dirty,
.branch-action-state-closed-dirty {
  .branch-action-icon {
    background-color: $accent-red;
  }

  .branch-action-body {
    border-color: $accent-red;

    &:before, &:after {
      border-right-color: $accent-red;
    }
  }
}

.branch-action-state-unknown,
.branch-action-state-unstable {
  .branch-action-icon {
    background-color: $accent-yellow;
  }

  .branch-action-body {
    border-color: $accent-yellow;

    &:before, &:after {
      border-right-color: $accent-yellow;
    }
  }
}

.is-rebasing .branch-action-state-dirty-if-rebasing,
.branch-action-state-closed {
  .branch-action-icon {
    background-color: #888;
  }

  .branch-action-body {
    border-color: #888;

    &:before, &:after {
      border-right-color: #888;
    }
  }
}

.merge-status-item {
  background-color: $bgLight;
  border-color: $borderColor;
}

// Progress

.completeness-indicator-problem,
.completeness-indicator-error {
  background-color: $accent-red;
}

.donut-chart {
  & > .error, & > .failure {
    fill: $accent-red;
  }

  & > .success {
    fill: $accent-green;
  }

  & > .expected, & > .pending {
    fill: $accent-yellow;
  }
}

.progress-bar,
.task-progress .progress-bar {
  background-color: $bgLight;
}

.task-progress .octicon,
.issue-meta-section .octicon {
  color: $borderColor;
}

.task-progress {
  color: $fgDarker;
}

.reorderable-task-lists .markdown-body .task-list-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  @include activated() {
    background-color: $bgDarker;
    border-color: $mutedBorderColor;
  }

  .drag-handle {
    fill: $borderColor;
  }
}

// Reviews

.review {
  &-thread-reply {
    background: $bgDark;
    border-color: $borderColor;
  }

  &-comment-contents:after,
  &-comment.is-comment-editing:after {
    background-color: $borderColor;
  }

  &-comment .reaction-summary-item:not(.add-reaction-btn) {
    border-color: $borderColor;
  }
}
