.repohead {
  &.experiment-repo-nav {
    background-color: $repoheadBg;
  }
}

.pagehead {
  border-color: $borderColor;
}

.reponav-item {
  color: $foregroundColor;
  &:hover {
    color: $fgDarkest;
  }
  &.selected {
    background-color: $backgroundColor;
    color: $foregroundColor;
    border-color: $borderColor;
    border-bottom-color: $backgroundColor;
  }

  .octicon {
    color: $foregroundColor;
  }

  .counter {
    background-color: $bgLighter;
    color: $foregroundColor;
  }
}

// Top Widgets
.overall-summary {
  border-color: $borderColor;
}
.repository-lang-stats-graph {
  border-color: $borderColor;
}

.commit-tease {
  border-color: $borderColor;
  background-color: $bgDark;
  color: $fgLighter;

  .commit-author-section, .user-mention, .team-mention {
    color: $fgLighter;
  }
}

.numbers-summary {
  a {
    color: $fgLighter;
    &:hover {
      color: $fgLightest;
    }
  }
}

// Repo tags
.topic-tag {
  border-color: $borderColor;
  background-color: $bgDark;
  color: $fgLighter;

  &:hover {
    border-color: $borderColor;
    background-color: $bgDarker;
    color: $fgLighter;
  }
}

// File viewer
.file-wrap {
  border-color: $borderColor;
  .files {
    background-color: $backgroundColor;

    .navigation-focus td {
      background-color: $bgLighter;
    }

    .message, .age {
      color: $foregroundColor;
    }

    td {
      border-color: $borderColor;
    }
  }
}


// Readme
.readme {
  h3 {
    background-color: $readmeHeaderBg;
    border-color: $readmeBorder;
  }
  .markdown-body, .plain {
    background-color: $readmeBg;
    border-color: $readmeBorder;
  }
}

.markdown-body {
  img {
    background-color: transparent;
  }

  h1,h2,h3,h4,h5 {
    border-color: $readmeBorder;
  }

  pre, code {
    background-color: $codeBg;
  }
}

.markdown-body h1 .octicon-link, .markdown-body h2 .octicon-link, .markdown-body h3 .octicon-link, .markdown-body h4 .octicon-link, .markdown-body h5 .octicon-link, .markdown-body h6 .octicon-link {
  color: $foregroundColor;
}

// Select Menu
.select-menu-modal, .select-menu-filters, .select-menu-item, .select-menu-tabs {
  background-color: $backgroundColor;
  border-color: $borderColor;
  color: $foregroundColor;
}

.select-menu-header, .select-menu-divider {
  background-color: $backgroundColor;
  border-color: $borderColor;
  color: $foregroundColor;
  .select-menu-title {
    color: $foregroundColor;
  }
}

.select-menu-tabs a, .select-menu-tabs .select-menu-tab-nav {
  background-color: $backgroundColor;
  border-color: $borderColor;
  color: $foregroundColor;

  &:hover {
    color: $fgDark;
  }

  &.selected {
    background-color: $bgLighter;
    border-color: $borderColor;
    color: $fgDark;
  }
}

.select-menu-item {
  &.navigation-focus {
    background-color: $brandColor;
  }
  &.selected {
    background-color: $bgDarker;
    color: $brandColor;
  }
}

.select-menu-text-filter input {
  border: $borderColor;
}
