.repohead {
  &.experiment-repo-nav {
    background-color: $repoheadBg;
  }

  h1 {
    color: $foregroundColor;

    .octicon {
      color: $borderColor;
    }
  }
}

.pagehead {
  border-color: $borderColor;
}

.reponav-item {
  color: $foregroundColor;

  &:hover, &:focus {
    color: $fgDarkest;
  }

  &.selected {
    background-color: $backgroundColor;
    color: $foregroundColor;
    border-color: $accentBorderColor;
    border-bottom-color: $backgroundColor;
  }

  .octicon {
    color: $foregroundColor;
  }
}

.commit-tease-sha {
  @extend %link;
}

// Top Widgets

.overall-summary {
  border-color: $borderColor;
}

.repository-lang-stats-graph {
  border-color: $borderColor;
}

.commit-tease {
  border-color: $borderColor;
  background-color: $bgDark;
  color: $fgLighter;

  .commit-author-section, .user-mention, .team-mention {
    color: $fgLighter;
  }
}

.numbers-summary {
  a {
    color: $fgLighter;

    &:hover {
      color: $fgLightest;
    }
  }

  .octicon {
    color: $bgLightest;
  }
}

// Repo tags

.topic-tag {
  border-color: $borderColor;
  background-color: mix($brandColor, $bgDark, 25%);
  color: $fgLighter;

  &:hover {
    border-color: $borderColor;
    background-color: mix($brandColor, $bgDark, 50%);
    color: $fgLightest;
  }
}

// File Viewer

.file {
  border-color: $borderColor;

  .image {
    background: transparent;

    .border-wrap {
      background: transparent;
      border: 0;
    }

    img, canvas {
      border: 0;
      background: transparent;
    }
  }
}

.file-header {
  background-color: $bgDark;
  border-color: $borderColor;
}

.file-wrap {
  border-color: $borderColor;

  .files {
    background-color: $backgroundColor;

    .navigation-focus td {
      background-color: $bgLighter;
    }

    .message, .age {
      color: $foregroundColor;
    }

    .message a:hover {
      color: $fgLightest;
    }

    td {
      border-color: rgba($borderColor, 0.125);
    }
  }
}

// Code

.blob-num {
  background: $bgLight;
  color: darken($foregroundColor, 20%);
}

.blob-code {
  &[style="background-color: rgb(248, 238, 199);"] { // Highlighted lines
    background: $bgDarker !important;
  }

  &-inner {
    color: $fgDark;
  }

  &-deletion {
    background: $repoDeletion;
  }

  &-addition {
    background: $repoAddition;
  }

  &-hunk, &-expandable {
    background: $bgLight;
  }

  &-addition .x {
    background: $accent-green;
    color: $repoAddition;
  }

  &-deletion .x {
    background: $accent-red;
    color: $repoDeletion;
  }
}

// Readme

.readme {
  .markdown-body, .plain {
    background-color: $readmeBg;
    border-color: $readmeBorder;
  }
}

.markdown-body, .markdown-body .highlight {
  img {
    background-color: transparent;
  }

  pre, code {
    background-color: $codeBg;
    border: 1px solid $mutedBorderColor;
    color: mix($fgDark, $brandColor, 50%);
  }

  @for $i from 1 through 6 {
    h#{$i} {
      border-color: $readmeBorder;

      .octicon-link {
        color: $foregroundColor;
      }
    }
  }

  blockquote {
    @extend .pullquote;
    color: $fgDarkest;
    margin-left: 2rem;
    margin-right: 2rem;

    & + blockquote {
      padding-bottom: 16px;
      margin-bottom: 0;
    }
  }
}

.markdown-body {
  table {
    th, tr, td {
      border-color: $borderColor;
    }

    tr {
      background: $backgroundColor;

      &:nth-child(2n) {
        background: $bgDark;
      }
    }
  }
}

.subnav-search-context .btn { // Filter on PR tab
  color: inherit;
}

// Select Menu

.select-menu-modal, .select-menu-filters, .select-menu-item, .select-menu-tabs {
  background-color: $backgroundColor;
  border-color: $borderColor;
  color: $foregroundColor;
}

.select-menu-header, .select-menu-divider {
  background-color: $backgroundColor;
  border-color: $borderColor;
  color: $foregroundColor;
  .select-menu-title {
    color: $foregroundColor;
  }
}

.select-menu-tabs a, .select-menu-tabs .select-menu-tab-nav {
  background-color: $backgroundColor;
  border-color: $borderColor;
  color: $foregroundColor;

  &:hover {
    color: $fgDark;
  }

  &.selected {
    background-color: $bgLighter;
    border-color: $borderColor;
    color: $fgDark;
  }
}

.select-menu-item {
  &.navigation-focus {
    background-color: $brandColor !important; // to override .label-select-menu .select-menu-item
    color: #fff !important;
  }

  &.selected {
    background-color: $bgDarker;
    color: $brandColor;
  }
}

.select-menu-text-filter input {
  border: $borderColor;
}

.select-menu-text-filter:first-child:last-child {
  border-color: $borderColor;
}

.select-menu-no-results {
  color: $borderColor;
}

// Languages

.repository-lang-stats ol.repository-lang-stats-numbers li {
  .lang {
    color: $fgLighter;
    font-weight: bold;
  }

  & > a, & > span {
    color: $fgDarkest;
    font-weight: normal;
  }
}

// Breadcrumbs

.breadcrumb strong.final-path { // Filename for individual files
  color: $foregroundColor;
}

.repository-meta {
  color: $foregroundColor;
}

// Recent Branches

.RecentBranches {
  @include cardLight;

  &-item {
    color: $foregroundColor;
  }

  &-item-link {
    color: $linkColor;
  }
}

// Labels

.repohead h1.private .octicon {
  color: $accentBorderColor;
}

.label-private {
  background: $accentBorderColor;
  color: $bgDarker !important;
}

.deployment-status-label.is-active {
  background: $accent-green;
  color: $bgDarker !important;
  border-color: $accent-green;
}

// Mentions

.user-mention, .team-mention {
  @extend %link;
}
