// Menu

.menu {
  background: transparent;
  border-color: $borderColor;

  &-heading {
    background-color: $bgDarker;
    color: $foregroundColor;
    border-color: $borderColor;
  }

  &-item {
    color: $foregroundColor;
    border-color: $borderColor;

    &.selected {
      background: transparent;
      color: $fgLightest;
      font-weight: bold;

      &:before {
        background-color: $accentBorderColor;
      }
    }

    &:hover {
      background: $menuHoverColor;
    }

    .octicon {
      color: $borderColor;
    }

    .counter {
      line-height: inherit;
    }
  }
}

// Dropdowns

.dropdown-menu {
  background-color: $backgroundColor;
  border-color: $borderColor;
  color: $foregroundColor;

  &:after {
    border-bottom-color: $borderColor;
  }

  .dropdown-header {
    color: $foregroundColor;
  }

  .dropdown-divider {
    background-color: $borderColor;
  }

  .dropdown-item {
    color: $foregroundColor;

    @include activated {
      color: $fgDarker;
      background-color: $bgLighter;
    }
  }
}

// Select Menu

.select-menu {
  &-modal, &-filters, &-item, &-tabs {
    background-color: $backgroundColor;
    border-color: $borderColor;
    color: $foregroundColor;
  }

  &-header, &-divider {
    background-color: $backgroundColor;
    border-color: $borderColor;
    color: $foregroundColor;
    .select-menu-title {
      color: $foregroundColor;
    }
  }

  &-tabs {
    a, .select-menu-tab-nav {
      background-color: $backgroundColor;
      border-color: $borderColor;
      color: $foregroundColor;

      &:hover {
        color: $fgDark;
      }

      &.selected {
        background-color: $bgLighter;
        border-color: $borderColor;
        color: $fgDark;
      }
    }
  }

  &-item {
    &.navigation-focus {
      background-color: $mutedBorderColor !important; // to override .label-select-menu .select-menu-item
      color: #fff !important;
    }

    &-heading {
      color: $fgLightest;
    }

    &.selected {
      background-color: $bgDarker;
      color: $brandColor !important;

      .description {
        color: $fgDarker;
      }
    }

    &-text .description {
      color: $fgDarker;
    }
  }

  &-text-filter {
    input {
      border: $borderColor;
    }

    &:first-child:last-child {
      border-color: $borderColor;
    }
  }

  &-no-results {
    color: $borderColor;
  }
}
