.tabnav {
  border-color: $borderColor;

  &-tab {
    color: $fgLighter;

    @include activated() {
      background-color: $backgroundColor;
      border-color: $borderColor;
      color: $foregroundColor;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }

  &-extra {
    color: $foregroundColor;
  }

  &-pr {
    border-color: $borderColor;

    @include activated() {
      background-color: $backgroundColor;
    }

    .tabnav-tab {
      color: $foregroundColor;

      @include activated() {
        background-color: $backgroundColor;
        border-color: $borderColor;
        color: $foregroundColor;
      }
    }
  }
}
